<!DOCTYPE html>
<html>

    <head>

        <title>Reserved</title>

    </head>

    <link rel="stylesheet" href="/main.css">

    <body>
        <div class="contentIndex">

            <div class="indexImage">
                <img src="/assets/background-image.png" alt="">
                <img src="/assets/logo.png" alt="">
            </div>

            <div class="indexContent">

                <div class="headIndex">
                    <div class="login">
                        <a href="/login">Login</a>
                    </div>
                    <a href="/register">Cadastre seu restaurante</a>
                </div>

                <p>
                    Já imaginou sair de casa com sua mesa garantida em seu restaurante preferido?
                    Basta clicar no botão de pesquisar e já deixar sua reserva realizada, fuja das filas de espera!!!
                </p>

                <div class="searchRestaurants">
                    <form action="/search-restaurants" method="post">
                        <input type="text" name="city" placeholder="Digite a cidade ...">
                        <button type="submit">Pesquisar</button>
                    </form>
                </div>
            </div>

        </div>
    </body>

</html>