<!DOCTYPE html>
<html>

    <head>

        <title>Reserved - Cadatro</title>

    </head>

    <link rel="stylesheet" href="/main.css">

    <body>
        <header>
            <a href="/">Voltar</a>
            <img src="/assets/logo.png" alt="">
        </header>

        <div class="formInformations">
            <form action="/login" method="POST">
            <h1>Realizar login</h1>

            <input type="text" name="name" placeholder="Digite o nome do usuário">

            <input type="text" name="password" placeholder="Digite a senha">

            <button type="submit">LOGAR</button>
            </form>
        </div>
    </body>

</html>